certified copy of id - Mine

original landlord consent - write it up

lease agreement = use that very same one - could be in the business plan.

proof of ownership = COR14.1

company registration = COR14.3 

foreign is n/a

certificate of incorporation = COR14.3

Proxy Letter (when lodging on behalf of a cc/company)

--

